.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

mat-list {
    height:500px;
    max-height: 80%;
    overflow-y: scroll;
}

mat-icon {
    color: rgba(69, 32, 104, 0.979);
    cursor: pointer;
}


form {
    position: fixed;
    bottom: 0;
    left: 33%;
}

::ng-deep .mat-list .mat-list-item .mat-line{
   word-wrap: break-word;
   white-space: pre-wrap;
}
/*
::ng-deep .mat-list .mat-list-item{
    height:initial!important;
   }
 */