<div id="northwestern-logo-wrapper-outer">
    <div id="northwestern-logo-wrapper"><a href="http://www.northwestern.edu" id="northwestern-logo" target="_blank">
      <img alt="Northwestern University" class="desktop" src="https://www.mccormick.northwestern.edu/images/structure/sprites/northwestern-logo-global-nav.svg">
      <img alt="Northwestern University" class="mobile" src="https://images/structure/sprites/northwestern-logo-global-nav-small.svg"></a>
    </div>
</div>
<div style="overflow: scroll; height: 70%" #scrollMe [scrollTop]="scrollMe.scrollHeight">
<mat-list>
  <mat-list-item *ngFor="let message of conversation">
    <mat-icon matListIcon>{{ message.avatar }}</mat-icon>
    <!-- <h3 matLine>{{message.from}}</h3>-->
    <p matLine>
      <span>{{message.content}}</span>
    </p>
    <p matLine *ngIf="message.link">
      <span>More details can be found <a href="{{message.link}}" target="_blank" >here</a></span>
    </p>
  </mat-list-item>
</mat-list>
</div>
<mat-divider></mat-divider>
<form class="example-form">
  
  <mat-form-field class="example-full-width">
    <mat-icon matListIcon>chat</mat-icon>
    <input matInput 
           #message 
           maxlength="256" 
           (keyup.enter)="addMessageFromUser(message)">
    <mat-icon matSuffix (click)="addMessageFromUser(message)">send</mat-icon>
  </mat-form-field>
</form>

